* {
  box-sizing: border-box;
}
body {
  background-color: #42414C;
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.hero {
  width: 100%;
  background-image: url("logos-background.jpg");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  background-attachment: fixed;
  background-size: contain;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  z-index: -5;
}
p {
  font-size: 14pt;
}

@media only screen and (min-width: 650px ) {
  .hero {
    background-image: url("logos-background-tablet.jpg");
  }
  h1 {
    font-size: 35pt;
  }
  p {
    font-size: 14pt;
  }
}

@media only screen and (min-width: 950px ) {
  .hero {
    background-image: url("logos-background-desk.jpg");
  }
  h1 {
    font-size: 40pt;
  }
  p {
    font-size: 15pt;
  }
}