/*
@       -- AVAILABLE FONTS -- 

font-family: 'Bebas Neue', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Mohave', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Young Serif', serif; 
*/




* {
  box-sizing: border-box;
}
body {
  color: #fff;
  font-family: "Quicksand";
  background-color: #42414C;
  /* background-color: #fff; */
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: larger;
}

.hero {
  animation: hero-comes 1.2s ease-out;
  width: 100%;
  background-image: url("./public/logos-background-mobile.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position-y: top;
  background-position-x: center;
  background-attachment: fixed;
  background-size: 100%;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  z-index: -5;
}
section {
  padding-top: 20px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
h1 {
  font-family: 'Mohave';
  font-weight: 500;
}
p {
  font-family: 'Playfair Display', serif;
}

@keyframes hero-comes {
  from{padding-bottom: 500px;}
}


#header-subtitle {font-size: 0pt;}
#header-subtitle span {
  font-size: 14pt;
  margin-left: -2px;
}



.bar {
  padding: 0;
  font-size: 24pt;
  margin-left: -5pt;
  font-family: monospace;
  font-weight: 100;
  opacity: .0;
}

.blinker {
  animation: blink 0.7s infinite;
}
@keyframes blink {
  to{ opacity: .0; }
}



section {
  animation: section-comes 2s ease-out;
}
@keyframes section-comes {
  from{padding-top: 500px;}
}
p {
  font-size: 15pt;
}

@media only screen and (min-width: 650px ) {
  .hero {
    background-image: url("./public/logos-background-tablet.jpg");
  }
  h1 {
    font-size: 45pt;
  }
  .bar {
    font-size: 33pt;
    margin-left: -8pt;
  }
  #header-subtitle span {
    font-size: 16pt;
    margin-left: -3px;
  }
  
}

@media only screen and (min-width: 1200px ) {
  .hero {
    background-image: url("./public/logos-background-desk.jpg");
  }
  h1 {
    font-size: 52pt;
  }
  .bar {
    font-size: 38pt;
    margin-left: -10pt;
  }
  #header-subtitle span {
    font-size: 18pt;
    margin-left: -3px;
  }
}

.shadow-text {
  color: #fff;
  text-shadow: 2px 2px 10px #000000aa
  /* 2px 2px 60px #de4b11d5,
  2px 2px 160px #d3a239ce,
  2px 2px 200px #ffd06a94,
  2px 2px 6px #dc5314d0,
  2px 2px 30px #b682137a; */

}